
.footer {
  background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
}

.footer__social-heading {
  margin: auto;
  margin-bottom: 20px;
  margin-right: 1px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

}

.footer__logo-img {
  width: 105px;
  height: 39px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 60px 80px 0;
  color: white;
  flex-direction: row;
}

.footer__social {
  display: flex;
  flex-direction: column;
}

.footer_social-icon {
  height: 16px;
}

.footer__social-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__social-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration-line: none;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  gap: 10px;
}
.footer__social-list-item {
  margin-bottom: 16px;
}

.footer__social-list-item:last-of-type {
  margin-bottom: 0;
}

.footer__social-link:hover {
  color: #c1c1c1;
}


.footer__copyright_content {
  color: white;
  margin: 108px 60px 0;
  padding-bottom: 60px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}