
.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  font-family:'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

}

.form__checkbox {
  box-sizing: border-box;
  padding: 0;
  margin-right: 12px;
  width: 20px;
  border-radius: 2px;
}

.form__input {
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 8px;
  height: 60px;
  font-family:'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  border-radius: 4px;
}

.form__input{
  color: black;
}

.form__button {
  height: 60px;
  width: 100%;
  padding: 0;
  border: none;
  margin-bottom: 32px;
  font-family:'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: white;
  transition: width 0.5s ease-in-out;
  border-radius: 4px;
}

.form__button:hover {
  opacity: 70%;
}