.header {
  padding: 30px 80px 40px;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  background: #fff url(../images/background_header.svg)no-repeat;
  box-sizing: border-box;
  background-size: cover;
}


.header__title {
  max-width: 729px;
  font-size: 60px;
  line-height: 70px;
  margin: 183px 0 0;
  letter-spacing: -0.6px;
  font-weight: 500;
}

.header__description {
  font-family: 'Noto Serif', Times New Roman, generic serif;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
}

.header__span-accent {
  display: block;
  font-style: italic;
  font-family: 'Noto Serif', Times New Roman, generic serif;
  color: #2f80ed;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  max-width: 636px;
  max-height: 568px;
}

.header__footer {
  align-items: end;
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  color: #838383;
}

.header__paragraph {
  margin:0;
}
